.timer-container {
  background: #151932;
  background: linear-gradient(
    135deg,
    rgba(21, 25, 50, 1) 0%,
    rgba(37, 40, 79, 1) 77%,
    rgba(41, 44, 83, 1) 100%
  );
  width: 390px;
  height: 390px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4.2px 4.2px 2.7px rgba(0, 0, 0, 0.012), 10.5px 10.5px 6.9px rgba(0, 0, 0, 0.012),
    21.4px 21.4px 14.2px rgba(0, 0, 0, 0.022), 44.2px 44.2px 29.2px rgba(0, 0, 0, 0.027),
    51px 51px 50px rgba(0, 0, 0, 0.033), 0px 18.1px 14.2px rgba(0, 0, 0, 0.015),
    0px 21.5px 27.8px rgba(0, 0, 0, 0.025), 0px 50px 50px rgba(0, 0, 0, 0.07),
    -53.8px -53.8px 48.5px rgba(47, 52, 99, 0.028), -54.3px -54.3px 53.5px rgba(37, 42, 87, 0.037),
    -31.3px -31.3px 41.5px rgba(37, 42, 87, 0.044), 17.8px 17.8px 27px rgba(0, 0, 0, 0.029),
    80px 80px 80px rgba(0, 0, 0, 0.048);
}

.outer {
  background-color: #151932;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  position: relative;
}

.inner {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 50%;
  background-color: #151932;
  z-index: 10;
}

.inner h2 {
  font-size: 102px;
  color: #d6dffd;
  font-weight: 700;
  user-select: none;
}

.pause-play-btn {
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 9px;
  color: #d6dffd;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.pause-play-btn:hover {
  transform: scale(1.07);
}

.pause-play-btn:active {
  transform: scale(0.98);
}

/* Progress bar */
.circle {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle.left {
  background-size: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 455px) {
  .timer-container {
    width: 320px;
    height: 320px;
  }

  .outer {
    width: 270px;
    height: 270px;
  }

  .circle {
    width: 288px;
    height: 288px;
  }

  .inner {
    width: 265px;
    height: 265px;
  }

  .inner h2 {
    font-size: 84px;
  }
}
