.navigation-container {
  background-color: #151932;
  display: flex;
  gap: 5px;
  padding: 8px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 12px 0px, rgba(0, 0, 0, 0.03) 0px 2px 8px 0px;
}

.navigation-container label {
  color: #7b7d89;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  padding: 18px 24px;
  border: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.navigation-container label:hover {
  background-color: #222643;
}

.navigation-container label:active,
input[type='radio'][name='timer']:checked + label {
  color: #151932;
}

.navigation-container label.color-1:active,
input[type='radio'][name='timer']:checked + label.color-1 {
  background-color: #f87070;
}
.navigation-container label.color-2:active,
input[type='radio'][name='timer']:checked + label.color-2 {
  background-color: #48c3c3;
}
.navigation-container label.color-3:active,
input[type='radio'][name='timer']:checked + label.color-3 {
  background-color: #d981f8;
}

@media screen and (max-width: 455px) {
  .navigation-container label {
    padding: 14px 18px;
  }
}
