.App {
  background-color: #1e2140;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  min-height: 100vh;
  position: relative;
  padding: 30px 0;
}

.App.no-scroll {
  height: 100vh;
  overflow-y: hidden;
}

button {
  font-family: 'Raleway', sans-serif;
}

input[type='radio'] {
  display: none;
}

h1 {
  color: #d6dffc;
  font-size: 28px;
}
